<div class="container row">

<div >
   <center>
      <a target="leaderboard" href="index.html" >
        <img class="leaderboard" ng-src={{vm.leaderboard.WebAddress}}>

      </a>
   </center>
</div>







<!-- Nav Bar-->
<div id='cssmenu'>
<ul>
   <li><a href='/'><span>Home</span></a></li>
   <li class='active has-sub'><a href='#'><span>Products</span></a>
      <ul>
      <li><a href='/products'><span>Pre-Builts</span></a></li>
      <li><a href='/custombuilds'><span>Custom Builds</span></a></li>
      </ul>
   </li>
   <li><a href='/about'><span>About</span></a></li>
   <li class='last'><a href='/contactUs'><span>Contact Us</span></a></li>
   <li class='last'><a href='/getStarted'><span>Get Started</span></a></li>

   <li id='login' class='last'><a href='/logIn'><span>Log In</span></a></li>
</ul>
</div>





<!-- Carousel -->
<div>
<div id=carousel class="col-md-12">
  <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
        <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id" >
            <img ng-src="{{slide.image}}" style="margin:auto;" >
          <div class="carousel-caption">
            <h4>Slide {{slide.id}}</h4>
            <p>{{slide.text}}</p>
          </div>
      </div>
  </div>
</div>
</div>

<!-- Carousel End -->

<br>
<button class="P-sorting" ng-click="vm.showLeaderboardModal()" >Change leaderboard</button>
<button type="button" class="btn btn-primary" ng-model="singleModel" >
    View Full Gallery
</button>

<br>


<p class= "container text "><b>What’s Behind the Cabinetry?</b>
Allen Commecial Industries manufactures affordable, quality cabinets at our facility in Monroe, WA. We recognize the responsibility that comes with being a large manufacturer, and we are committed to being a good corporate citizen,
to the benefit of our employees, owners, and the community at large.</p>




<div id='aboutDrop'>
  <script type="text/ng-template" id="group-template.html">
    <div class="panel-heading">
      <h4 class="panel-title" style="color:#fa39c3">
        <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
          <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
            {{heading}}
          </span>
        </a>
      </h4>
    </div>
    <div class="panel-collapse collapse" uib-collapse="!isOpen">
      <div class="panel-body" style="text-align: right" ng-transclude></div>
    </div>
  </script>



  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="oneAtATime">
      Open only one at a time
    </label>
  </div>

  <div class="spacing">


  <uib-accordion  close-others="oneAtATime">
    <div uib-accordion-group class="panel-default" heading="Our capabuilities" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
      We are a full service company with a wide range of capabilities. Established in 1989. We provide full design, manufacture and Installation services. In addition, our installation fleet with crews are ready to deliver and install all of our products. We are currently located in a 20,000 sq. ft. facility on 2.5 acres centrally located in the Dallas Ft. Worth area.

We have a full millwork facility including;
   2 table saws
   Sliding panel saw
   Edge bander
   Joiner
   Planer
   Cold press
   Dual head 10' x 24' CNC router
   Our vinyl department incorporates a mimaki Cg-160 FX cutting plotter
   Mimaki JV3 Printer
   A full service paint booth

Design is the limit!
    </div >

    <div uib-accordion-group class="panel-default"  heading="Our mission" >
      This content is straight in the template.
    </div>
    <div uib-accordion-group class="panel-default" heading="Our turn-around" >
      This content is straight in the template.
    </div>
    <div uib-accordion-group class="panel-default" heading="Our Company Atmosphere" >
      This content is straight in the template.
    </div>
    <div uib-accordion-group class="panel-default" heading="Our standards" >
      This content is straight in the template.
    </div>


  </uib-accordion>
</div>



<p > We are a full service company with a wide range of capabilities. Established in 1989.
  We provide full design, manufacture and Installation services. In addition, our installation fleet
  with crews are ready to deliver and install all of our products. We are currently located in a 20,000 sq.
  ft. facility on 2.5 acres centrally located in the Dallas Ft. Worth area.

Design is the limit!</p>









<footer class="row fcontainer border">

  <div class="col-md-5 fborder1">

    <h2><u>Allen Commercial Industries<span>.Inc</span></u></h2>

    <p class="footer-links">
      <a href="/">Home</a>
      ·
      <a href="/products">Products</a>
      ·
      <a href="/about">About</a>
      ·
      <a href="/contactUs">Contact Us</a>
      ·
      <a href="/getStarted">Get Started</a>
    </p>
<br>
    <p><small>Allen Commercial industries &copy; 2017</small></p>
  </div>

  <div class="col-md-3 fborder2">
<h2><u>Company Details</u></h2>
    <div class="footerspacing">
      <h4>Street address</h4>
      <p><i class="fa fa-map-marker"></i><span>11301 Mosier Valley Rd</span> Euless, Texas 76040</p>
    </div>
    <div class="footerspacing">
      <h4>Contact a representitive</h4>
      <p><i class="fa fa-phone"></i>  817-267-4919</p>
    </div>
    <div class="footerspacing">
      <h4>Email Support</h4>
      <p><i class="fa fa-envelope"></i><a href="mailto:support@ACI.com">  support@ACI.com</a></p>
    </div>

  </div>

  <div class="col-md-3 fborder3">

    <p class="ftext border">
      <h2><u>About the company</u></h2>
      Feel free to follow us on social media for news and updates.
    </p>
<br>
    <div class="footer-icons">
      <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
    </div>
  </div>

</footer>


</div>
