<div class="container row">

<!--
 -->

<div class="container">


  <h2>Categories</h2>
<div class="btn-group">
<button class="P-sorting" ng-click="vm.getProducts('Cabnets')" >Cabnets</button>
<button class="P-sorting" ng-click="vm.getProducts('Storefront Signs')" >Storefront Sign</button>
<button class="P-sorting" ng-click="vm.getProducts('Isle Signs')" >Isle Sign</button>
</div>





</div>


<br>


<div class="container" ng-repeat="p in vm.products">

          <img class="col-sm-3 bg-warning" src={{p.image}}>
          </p>
          <ul>
            <li >Name:{{p.name}}</li>
          <li >Price: {{p.price}}</li>

          <li >Description: {{p.description}}</li>
          <li >Number in stock: {{p.numberinstock}}</li>
          </ul>
          <button class="P-sorting" ng-click="vm.showModal(p)" >Edit product</button>

</div>


<br>

<div class="container">

<h2>Add Product</h2>
<h4>name</h4>
<input type="text" productholder="Name..." ng-model="vm.product.name" />
<h4>price</h4>
<input type="text" productholder="price..." ng-model="vm.product.price" />
<h4>image</h4>
<input type="text" productholder="image..." ng-model="vm.product.image" />
<h4>description</h4>
<input type="text" productholder="description..." ng-model="vm.product.description" />
<h4>numberinstock</h4>
<input type="text" productholder="numberinstock..." ng-model="vm.product.numberinstock" />
<h4>category</h4>
<select ng-model="vm.product.category">
  <option value="Cabnets">Cabnets</option>
  <option value="Storefront Signs">Storefront Sign</option>
  <option value="Isle Signs">Isle Sign</option>
</select>

<button type="button" ng-click="vm.addProduct()">Add</button>

</div>




<h2>Edit Product</h2>

<input type="text" productholder="New Name..." ng-model="vm.product.name" />
<input type="text" productholder="New price..." ng-model="vm.product.price" />
<input type="text" productholder="New image..." ng-model="vm.product.image" />
<button type="button" ng-click="vm.editProduct()">Edit</button>



<p>breaking up the text</p>





*/ this stuff /*

<br>

<br>
