
<div class="container row">

<!-- Site logo and high bar-->
<div id="leaderboard">
   <center>
      <a target="leaderboard" href="/" >
        <img ng-src={{vm.leaderboard.WebAddress}}>

      </a>
   </center>
</div>








<!-- Nav Bar-->
<div id='cssmenu'>
<ul>
   <li><a href='/'><span>Home</span></a></li>
   <li class='active has-sub'><a href='#'><span>Products</span></a>
      <ul>
      <li><a href='/products'><span>Cabnets</span></a></li>
      <li><a href='#'><span>Signs/Decor</span></a></li>
      </ul>
   </li>
   <li><a href='/about'><span>About</span></a></li>
   <li class='last'><a href='/contactUs'><span>Contact Us</span></a></li>
   <li class='last'><a href='/getStarted'><span>Get Started</span></a></li>
   <li id='login' class='last'><a href='/logIn'><span>Log In</span></a></li>
</ul>
</div>











  <!-- Carousel -->
<div>
  <div id=carousel style="height: 305px">
    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
      <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>Slide {{slide.id}}</h4>
          <p>{{slide.text}}</p>
          <a class="col-sm-3 pull-4" href="#">View Full Gallery</a>
        </div>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
      <button type="button" class="btn btn-info" ng-click="addSlide()">Add Slide</button>
      <button type="button" class="btn btn-info" ng-click="randomize()">Randomize slides</button>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="noWrapSlides">
          Disable Slide Looping
        </label>
      </div>
    </div>
    <div class="col-md-6">
      Interval, in milliseconds: <input class="interval" type="number" class="form-control" ng-model="myInterval">
      <br />Enter a negative number or 0 to stop the interval.
    </div>
  </div>
</div>
<!-- Carousel End -->

<br>





<div id='General' class="container">
  <p > We are a full service company with a wide range of capabilities. Established in 1989.
    We provide full design, manufacture and Installation services. In addition, our installation fleet
    with crews are ready to deliver and install all of our products. We are currently located in a 20,000 sq.
    ft. facility on 2.5 acres centrally located in the Dallas Ft. Worth area.

  Design is the limit!</p>
</div>




<footer class="footer-distributed">

  <div class="footer-left">

    <h3>Allen Commercial Industries<span>.Inc</span></h3>

    <p class="footer-links">
      <a href="/">Home</a>
      ·
      <a href="/products">Products</a>
      ·
      <a href="/about">About</a>
      ·
      <a href="/contactUs">Contact Us</a>
      ·
      <a href="/getStarted">Get Started</a>
    </p>

    <p class="footer-company-name">Allen Commercial industries &copy; 2017</p>
  </div>

  <div class="footer-center">

    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>11301 Mosier Valley Rd</span> Euless, Texas 76040</p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>817-267-4919</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:support@ACI.com">support@ACI.com</a></p>
    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>About the company</span>
      Feel free to follow us on social media for news and updates.
    </p>

    <div class="footer-icons">
      <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>

    </div>
  </div>

</footer>



</div>
