<div class="container row">



<div id="leaderboard">
   <center>
      <a target="leaderboard" href="index.html" >
        <img ng-src={{vm.leaderboard.WebAddress}}>

      </a>
   </center>
</div>

<!-- Nav Bar-->
<div id='cssmenu'>
<ul>
   <li><a href='/'><span>Home</span></a></li>
   <li class='active has-sub'><a href='#'><span>Products</span></a>
      <ul>
      <li><a href='/products'><span>Pre-Builts</span></a></li>
      <li><a href='/custombuilds'><span>Custom Builds</span></a></li>
      </ul>
   </li>
   <li><a href='/about'><span>About</span></a></li>
   <li class='last'><a href='/contactUs'><span>Contact Us</span></a></li>
   <li class='last'><a href='/getStarted'><span>Get Started</span></a></li>
    <li class='last'><a href='/gallery'><span>Gallery</span></a></li>
   <li id='login' class='last'><a href='/logIn'><span>Log In</span></a></li>
</ul>
</div>





<div class="container">
<h2>Login</h2>
<input type="text" placeholder="username" ng-model="vm.userInfo.username"/>
<input type="password" placeholder="password" ng-model="vm.userInfo.password"/>
<button type="button" ng-click="vm.login()">Login</button>
<p>Admin <input type="checkbox" ng-model="vm.isAdmin" /></p>
<div style="padding-top: 25px;">
  <a href="/register">New Account</a>
</div>





</div>
