


<!-- Nav Bar-->
<div id='cssmenu'>
<ul>
   <li><a href='/'><span>Home</span></a></li>
   <li class='active has-sub'><a href='#'><span>Products</span></a>
      <ul>
         <li class='has-sub'><a href='/products'><span>Cabnets</span></a>
            <ul>
               <li><a href='#'><span>Sub Product</span></a></li>
               <li class='last'><a href='#'><span>Sub Product</span></a></li>
            </ul>
         </li>
         <li class='has-sub'><a href='#'><span>Signs/Decor</span></a>
            <ul>
               <li><a href='#'><span>Sub Product</span></a></li>
               <li class='last'><a href='#'><span>Sub Product</span></a></li>
            </ul>
         </li>
      </ul>
   </li>
   <li><a href='/about'><span>About</span></a></li>
   <li class='last'><a href='/contactUs'><span>Contact Us</span></a></li>
   <li class='last'><a href='/getStarted'><span>Get Started</span></a></li>
   <li id='login' class='last'><a href='/logIn'><span>Log In</span></a></li>
</ul>
</div>

<body>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category</h2>
						<div class="panel-group category-products" id="accordian">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
											<!--Cabnets and sub categories-->
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
										Cabnets
										</a>
									</h4>
								</div>
								<div id="sportswear" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="#">Base </a></li>
											<li><a href="#">Tall </a></li>
											<li><a href="#">Wall </a></li>
											<li><a href="#">Specialty</a></li>
											<li><a href="#">Inline </a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#mens">
											<!--category-productsr-->
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Storefront Signs
										</a>
									</h4>
								</div>
								<div id="mens" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="#">Green</a></li>
											<li><a href="#">Blue</a></li>
											<li><a href="#">Yellow</a></li>

										</ul>
									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#womens">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Isle Signs
										</a>
									</h4>
								</div>
								<div id="womens" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="#">PH</a></li>
											<li><a href="#">PH</a></li>
											<li><a href="#">PH</a></li>
											<li><a href="#">PH</a></li>
											<li><a href="#">PH</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">PH</a></h4>
								</div>
							</div>

						</div><!--/category-products-->

						<div class="brands_products"><!--brands_products-->
							<h2>Sorting Filters</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
									<li><a href="#"> <span class="pull-right">(<--->)</span>Sort By price</a></li>
									<li><a href="#"> <span class="pull-right">(<--->)</span>Sort by color</a></li>
									<li><a href="#"> <span class="pull-right">(<--->)</span>sort by look</a></li>

								</ul>
							</div>
						</div><!--/brands_products-->

						<div class="shipping text-center"><!--shipping-->
							<img src="images/home/shipping.jpg" alt="" />
						</div><!--/shipping-->

					</div>
				</div>

				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Featured Prebuilts</h2>
							<div class="col-sm-4">
								 <div class="product-image-wrapper">
												<div class="single-products">
															<div class="productinfo text-center">
																			<img src="images/home/recommend2.jpg" alt="" />
																			<h2>$price PH</h2>
																			<p>Description place holder</p>
																			<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
															</div>
												</div>
								 </div>
						 </div>

					</div><!--/category-tab-->

				</div>
			</div>
		</div>
	</section>









	<footer class="footer-distributed">

	  <div class="footer-left">

	    <h3>Allen Commercial Industries<span>.Inc</span></h3>

	    <p class="footer-links">
	      <a href="/">Home</a>
	      ·
	      <a href="/products">Products</a>
	      ·
	      <a href="/about">About</a>
	      ·
	      <a href="/contactUs">Contact Us</a>
	      ·
	      <a href="/getStarted">Get Started</a>
	    </p>

	    <p class="footer-company-name">Allen Commercial industries &copy; 2017</p>
	  </div>

	  <div class="footer-center">

	    <div>
	      <i class="fa fa-map-marker"></i>
	      <p><span>11301 Mosier Valley Rd</span> Euless, Texas 76040</p>
	    </div>

	    <div>
	      <i class="fa fa-phone"></i>
	      <p>817-267-4919</p>
	    </div>

	    <div>
	      <i class="fa fa-envelope"></i>
	      <p><a href="mailto:support@ACI.com">support@ACI.com</a></p>
	    </div>

	  </div>

	  <div class="footer-right">

	    <p class="footer-company-about">
	      <span>About the company</span>
	      Feel free to follow us on social media for news and updates.
	    </p>

	    <div class="footer-icons">
	      <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
	      <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
	      <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>

	    </div>
	  </div>

	</footer>
