<div class="modal-header">
    <h1 class="modal-title">Product Details</h1>
</div>
<div class="modal-body" ng-cloak>
  <table class="table">
      <tr>
          <img class="modalI" ng-src={{vm.dataFromProductsController.image}}>
      </tr>
</table>

    <table class="table">
      <tr>
          <th>Name</th>
          <td>{{vm.dataFromProductsController.name}}</td>
      </tr>
        <tr>
            <th>Make</th>
            <td>{{vm.dataFromProductsController.description}}</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>{{vm.dataFromProductsController.price}}</td>
        </tr>
        <tr>
            <th>Number in stock</th>
            <td>{{vm.dataFromProductsController.numberinstock}}</td>
        </tr>
    </table>





    <div class="modal-body">
      <h2>Edit Product</h2>
      <h5>Name</h5>
      <input type="text" productholder="New Name..." ng-model="vm.dataFromProductsController.name" />
      <h5>Price</h5>
      <input type="text" productholder="New price..." ng-model="vm.dataFromProductsController.price" />
      <h5>Image</h5>
      <input type="text" productholder="New image..." ng-model="vm.dataFromProductsController.image" />
      <h5>Description</h5>
      <input type="text" productholder="New image..." ng-model="vm.dataFromProductsController.description" />
      <h5>Number in stock</h5>
      <input type="text" productholder="New image..." ng-model="vm.dataFromProductsController.numberinstock" />
      <button type="button" ng-click="vm.editProduct()">Edit</button>



</div>

</div>
<div class="modal-footer">
    <button class="btn-primary" ng-click="vm.ok()">OK</button>
</div>
