<div>

              <div class="col-sm-12 p-items" ng-repeat="p in vm.products">

                      <img class="col-sm-8 p-image " src={{p.image}}>

                      <div class=" container bg-danger col-sm-4">
                      <ul>
                        <li >Name:{{p.name}}</li>
                        <li >Price: {{p.price}}</li>
                        <li >Description: {{p.description}}</li>
                        <li >Number in stock: {{p.numberinstock}}</li>
                      </ul>
                        <!--left side bar
                      <button class="P-sorting" ng-click="vm.showModal(p)" >Edit product</button>
-->
                      </div>

              </div>


</div>


<form class="" action="index.html" method="post">

</form>
