






	<section class="container bg-success" >







			<div class="row-sm-12">


<div class="col-sm-3 bg-danger p-spacing">
		 <div class="left-sidebar">
            <div class="p-spacing">
                                          <h2>Categories</h2>
                    <div class="Sorting-c">
                                <ul class="nav nav-pills nav-stacked">
                                    <li><button class="P-sorting" ng-click="vm.getProducts('Cabnets')" >Cabnets</button></li>
                                    <li><button class="P-sorting" ng-click="vm.getProducts('Storefront Signs')" value="Storefront Signs">Storefront Signs</button></li>
                                    <li><button class="P-sorting" ng-click="vm.getProducts('Isle Signs')" value="Isle Signs">Isle Signs</button></li>
                                </ul>
                   </div>
            </div>

						<div class="brands_products">
							                             <h1>Soritng Filters</h1>
							                    <div>
								                      <ul class="nav nav-pills nav-stacked">
									                         <li><a href="#"> <span class="pull-right">(<--->)</span>Sort By price</a></li>
									                         <li><a href="#"> <span class="pull-right">(<--->)</span>Sort by color</a></li>
									                         <li><a href="#"> <span class="pull-right">(<--->)</span>sort by look</a></li>
                                           <li><a href="#"> <span class="pull-right">(<--->)</span>sort by look</a></li>
                                           <li><a href="#"> <span class="pull-right">(<--->)</span>sort by look</a></li>
                                           <li><a href="#"> <span class="pull-right">(<--->)</span>sort by look</a></li>

								                      </ul>
							                    </div>
            </div>


			</div>
</div>

<div class="col-sm-9 bg-success">

						<h2 class="title text-center">Featured Prebuilts</h2>


								<div class="p-spacing">
															<div class="col-sm-12 p-items" ng-repeat="p in vm.products">
																			<img class="col-sm-7 p-image " src={{p.image}}>

                                      <div class=" container p-text bg-danger col-sm-5">
                                      <ul>
                                        <li >Name:{{p.name}}</li>
                                        <li >Price: {{p.price}}</li>
                                        <li >Description: {{p.description}}</li>
                                        <li >Number in stock: {{p.numberinstock}}</li>
                                      </ul>
                                      <button class="P-sorting" ng-click="vm.showProductModal(p)" >Edit Product</button>
                                      <button class="P-sorting" ng-click="vm.showProductModal(p)" >View Product</button>
                                      </div>
                              </div>
                                     <button class="P-sorting" ng-click="vm.showProductModal(p)" >Add Product</button>
               </div>







	</section>
