

<div class="container row-md-12">
	<div class="col-md-4">
<button class="P-categories " ng-click="vm.getProducts('Cabnets')" >Cabnets</button>
	</div>
<div class="col-md-4">
	<button class="P-categories " ng-click="vm.getProducts('Storefront Signs')" value="Storefront Signs">Storefront Signs</button>
</div>
<div class="col-md-4">
	<button class="P-categories " ng-click="vm.getProducts('Isle Signs')" value="Isle Signs">Isle Signs</button>
</div>




<div class="container row">
<div id="banner">
   <center>
      <a target="banner" href="index.html" >
        <img ng-src={{vm.leaderboard.WebAddress}}>

      </a>
   </center>
</div>





<hr>




<h2>Add Leaderboard</h2>
<input type="text" placeholder="WebAddress..." ng-model="vm.leaderboard.WebAddress" />
<button type="button" ng-click="vm.addLeaderboard()">Add</button>




<p>{{vm.WebAddress}}</p>
<hr>


<ul>
  <li ng-repeat="p in vm.getBanner">{{p.leaderboard.WebAddress}}</li>
</ul>
<p>{{vm.leaderboard.WebAddress}}</p>

<img ng-src={{vm.leaderboard.WebAddress}}>

</div>
