.text {
  padding: 20px;
}

.spacing{
  padding: 10px;

}


.background{
  background: white;
  border-radius: 7px;
padding: 10px;


}

.textbox{

  padding: 10px;
}



.gmaps{
  padding: 10px;
}

.hometext{
  padding: 20px;
}

.angular-google-map-container {
    height: 375px;
    width: 540px;
    border: 3px solid black;

}

.border{
  border: 1px solid black;
}

.leaderboard {
  width: 100%;
  text-align: center;
  overflow: hidden;
  padding: 10px;
}



.container {
background-color:  silver;
}


.footerspacing{
  height: 70px;
  padding-bottom: : 1px;

  margin: 0px;


}

.footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}


.fcontainer {

border: 1px solid black;

background-color: #292c2f;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
box-sizing: border-box;
color: white;

font: bold 16px sans-serif;
}


.fborder1 {

padding: 1%;
color: white;
font-size: 12px;
}


.fborder2 {
border: 1px solid black;
color: white;
font-size: 12px;
}


.fborder 3{
border: 1px solid black;
color: white;
font-size: 12px;
}




.galleryB {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
padding: 15px;
background-color: #5cb85c;
}



.price-form {
  margin-bottom: 10px;
  padding: 15px;
  background-color: #5cb85c;
}

.price-form {
  margin-bottom: 10px;
  padding: 15px;
  background-color: #5cb85c;
}

.price-form-row {
  margin-bottom: 10px;
}

.listing-form-row, .listing-button {
  margin-top: 10px;
}

.listing-form h3 {
  color: white;
}





.modalI {
    width: 400px;
    padding:1px;
    border:3px solid #021a40;
}


#leaderboard {

  padding: 10px;
}


.left-sidebar{
  border: 1px solid black;
}

.Sorting-c {
  padding: 20px;
}

.p-items{
  background: silver;
    border-radius: 4px;
    border:1px solid black;
    padding: 10px;
}


.p-spacing{


    padding: 15px;

}

.p-text{


    padding: 35px;

}

.p-image{

    width: 400px;
    background-color: grey;
    padding: 10px;
    border-radius: 4px;
    border:1px solid black;
}

.p-box {
    background: silver;
    border-radius: 4px;
    border:1px solid black;
}





.P-sorting {


    width: 100%;
    border: 1px solid #ccc; /* Gray border */
    border: none;
    color: white;
    padding: 5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 1px solid black; /* Gray border */
    border-radius: 3px;

}



a {
  position: relative;
  margin: auto;
}

/* About page drop down texts*/
#aboutDrop{
  display: block;

  margin: auto;
  padding: 0;
  text-align: left;
}


}
/* Banner*/
#banner{
        padding:0 20px;
   }
   #banner img{
        display:block;
        margin:0 auto;
   }

/* contact ccs*/
#contact {

}
/* contact ccs*/
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
/* contact ccs*/
/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/* contact ccs*/
/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}
/* contact ccs*/
/* Add a background color and some padding around the form */




  /*nav bar */
#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  border: none;
  line-height: 1;
  margin: 0;
  padding: 0;
}
#cssmenu {
  height: 35px;
  display: block;
  border: 1px solid;
  border-radius: 5px;

  border-color: #080808;
  margin: auto;
  padding: 0;
  text-align: left;
}
#cssmenu > ul {
  list-style: inside none;
  margin: 0;
  padding: 0;
}
#cssmenu > ul > li {
  list-style: inside none;
  float: center;
  display: inline-block;
  position: relative;
  margin: auto;
  padding: 0;
  text-align: center;
}
#cssmenu.align-center > ul {
  text-align: center;
}
#cssmenu.align-center > ul > li {
  float: none;
  margin-left: -3px;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-center > ul > li:first-child > a {
  border-radius: 0;
}
#cssmenu > ul > li > a {
  outline: none;
  display: block;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
  font-weight: 700;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  border-right: 1px solid #080808;
  color: #ffffff;
  padding: 10px 20px;
}
#cssmenu > ul > li:first-child > a {
  border-radius: 5px 0 0 5px;
}
#cssmenu > ul > li > a:after {
  content: "";
  position: absolute;
  border-right: 1px solid;
  top: -1px;
  bottom: -1px;
  right: -2px;
  z-index: 99;
  border-color: #3c3c3c;
}
#cssmenu ul li.has-sub:hover > a:after {
  top: 0;
  bottom: 0;
}
#cssmenu > ul > li.has-sub > a:before {
  content: "";
  position: absolute;
  top: 18px;
  right: 6px;
  border: 5px solid transparent;
  border-top: 5px solid #ffffff;
}
#cssmenu > ul > li.has-sub:hover > a:before {
  top: 6px;
}
#cssmenu > ul > li.has-sub:hover > a {
  padding-bottom: 14px;
  z-index: 999;
  border-color: #3f3f3f;
}
#cssmenu ul li.has-sub:hover > ul,
#cssmenu ul li.has-sub:hover > div {
  display: block;
}
#cssmenu > ul > li.has-sub > a:hover,
#cssmenu > ul > li.has-sub:hover > a {
  background: #3f3f3f;
  border-color: #3f3f3f;
}
#cssmenu ul li > ul,
#cssmenu ul li > div {
  display: none;
  width: auto;
  position: absolute;
  top: 38px;
  background: #3f3f3f;
  border-radius: 0 0 5px 5px;
  z-index: 999;
  padding: 5px 0;
}
#cssmenu ul li > ul {
  width: 200px;
}
#cssmenu ul ul ul {
  position: absolute;
}
#cssmenu ul ul li:hover > ul {
  left: 100%;
  top: -10px;
  border-radius: 5px;
}
#cssmenu ul li > ul li {
  display: block;
  list-style: inside none;
  position: relative;
  margin: 0;
  padding: 0;
}
#cssmenu ul li > ul li a {
  outline: none;
  display: block;
  position: relative;
  font: 10pt Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 8px 20px;
}
#cssmenu,
#cssmenu ul ul > li:hover > a,
#cssmenu ul ul li a:hover {
  background: #3c3c3c;
  background: -moz-linear-gradient(top, #3c3c3c 0%, #222222 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3c3c3c), color-stop(100%, #222222));
  background: -webkit-linear-gradient(top, #3c3c3c 0%, #222222 100%);
  background: -o-linear-gradient(top, #3c3c3c 0%, #222222 100%);
  background: -ms-linear-gradient(top, #3c3c3c 0%, #222222 100%);
  background: linear-gradient(top, #3c3c3c 0%, #222222 100%);
}
#cssmenu > ul > li > a:hover {
  background: #080808;
  color: #ffffff;
}
#cssmenu ul ul a:hover {
  color: #ffffff;
}
#cssmenu > ul > li.has-sub > a:hover:before {
  border-top: 6px solid #ffffff;
}
/*end nav bar */



/*not sure what to do */
#login {
  text-align: left;
  border: 3px solid;

}







/*carousel */
#carousel {
  display: block;
  border: 3px solid;
  border-radius: 3px;

  border-color: #080808;
  margin: auto;
  padding: 0;
  margin-top: 2px;
}



.row {
  display: block;


  margin: auto;

  padding: 1px;
}












/*footer
.footer-distributed{

	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;


	font: bold 16px sans-serif;
  display: block;

  margin: auto;
  padding: 30px;
  border: 3px solid;
  border-radius: 5px;


	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}



.footer-distributed .footer-left{
	width: 40%;
}



.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}



.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}



.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}



.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}



@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}*/
